  body {
    font-family: Helvetica, sans-serif;
    background-image: radial-gradient(circle at 87.5% 12.5%, #8b2ba8 0, #621e8d 16.67%, #390f6e 33.33%, #0c004c 50%, #00002c 66.67%, #000012 83.33%, #000000 100%);
    /* background-color: #0000; */
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.info {
  position: fixed;
  top: 0;
  color: white;
  padding: 30px;
}

.country {
  transition: fill .5s;
}
